<h2><%= @recipe.title %> Recipe</h2>

<% if current_leader? %>
  <%= link_to 'Add Recipes', new_recipe_path %>

  <%= link_to 'Edit', edit_recipe_path(@recipe) %>
  <%= link_to 'Delete', recipe_path(@recipe), method: 'Delete' %>
  <br>
  <%= render partial: "ingredient_form" %>
<% end %>

<ul class=recipe_ingredients>
  <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
    <% if recipe_ingredient.ingredient %>
      <li><%= recipe_ingredient.ingredient_amount %>  <%= recipe_ingredient.ingredient.item %></li>
    <% end %>
  <% end %>
</ul>
Directions:
<br>
<%= @recipe.directions %>
