<h2>Groups</h2>

<ul>
  <% @groups.each do |group| %>
  <li class=group <%= group.title %>
  <li>Meals start on: <%= group.start %> for
    <%= link_to group.title, group_path(group) %>
    <%= link_to 'Edit', edit_group_path(group) %>
    <%= link_to 'Delete', group_path(group), method: 'Delete' %></li>
  </li>
  <% end %>
</ul>
