<h2><%= @group.title %> Group</h2>
<%= link_to 'Edit', edit_group_path(@group) %>
<%= link_to 'Delete', group_path(@group), method: 'Delete' %>
<br>
<%= render partial: "recipe_form" %>
<br>
<%= render partial: "member_form" %>
<ul class=group_members>
  <% @group.group_members.each do |group_member| %>
    <% if group_member.member %>
      <li><%= group_member.member.name %></li>
    <% end %>
  <% end %>
</ul>

Recipe Name:
<br>
Start: <%= @group.start %>
<br>

Group Members:
