<h2><%= @group.title %> Group</h2>
<% if current_leader? %>
  <%= link_to 'Edit', edit_group_path(@group) %>
  <%= link_to 'Delete', group_path(@group), method: 'Delete' %>
<% end %>
<br>
<% if current_leader? %>
  <br>
  <%= render partial: "member_form" %>
  <br>
<% end %> 
<br>
Recipe Name: <%= @group.recipe.title %>
<br>
Start: <%= @group.start %>
<br>
<br>
Group Members:
<ul class=group_members>
    <% @group.group_members.each do |group_member| %>
    <% unless group_member.member_id.nil? %>
      <li><%= group_member.member.name %></li>
    <% end %>
  <% end %>
</ul>
<br>
