<h2><%= @group.title %> Group</h2>
<%= link_to 'Edit', edit_group_path(@group) %>
<%= link_to 'Delete', group_path(@group), method: 'Delete' %>
<br>
<br>
<%= render partial: "member_form" %>
<br>
<br>
Recipe Name: <%= @group.recipe.title %>
<br>
Start: <%= @group.start %>
<br>
<br>
Group Members:
<ul class=group_members>
    <% @group.group_members.each do |group_member| %>
    <% unless group_member.member_id.nil? %>
      <li><%= group_member.member.name %></li>
    <% end %>
  <% end %>
</ul>
<br>
